# App image
WEB_IMAGE=rzoro10/vmdiag-app-web:v1

# App config
APP_NAME=VM Diagnostics Demo
APP_ENV=prod
APP_VERSION=1.0
DEGRADED_DB_MS=500

# Database config
DB_ROOT_PASSWORD=rootpass
DB_NAME=linuxday2026
DB_USER=linuxday
DB_PASS=linuxdaypass
DB_PORT=3306
